.name-tag {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }

  @include e(text) {
    color: $white;
    line-height: 1.25;
    font-family: $font-family--secondary;
  }

  @include m(sm) {
    width: 20px;
    height: 20px;
    font-size: 8px;
  }

  @include m(md) {
    width: 24px;
    height: 24px;
    font-size: 10px;
  }

  @include m(lg) {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}
